@model MVLC.WEB.ViewModels.DropDownDiv

@if (Model.IsRefreshofSelections)
{
    for (int i = 0; i < Model.elements.Count(); i++)
    {
        <a href="#" onclick="@Model.GetOnClick(Model.elements[i])">@Model.elements[i].DropDownText</a><br />
    }

}
else
{
  
    <div class="dropdown" id="@(Model.Div_ID)">
        @Html.HiddenFor(m => m.CurrentValue, new { id = Model.HF_Value_ID })
        @Html.HiddenFor(m => m.CascadeToID, new { id = Model.HF_CascadeTo_ID })
        @Html.HiddenFor(m => m.ItemsRefreshUrl, new { id = Model.HF_refreshUrl_ID })
        <input type="hidden" id="@Model.HF_InitialValue_ID" value="@Model.CurrentValue"/>
        <input type="hidden" id="@Model.HF_InitalText_ID" value="@Model.CurrentDisplayValue" />

        <a class="MenuText" href="#" role="button" id="@(Model.MenuText_ID)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @Model.CurrentDisplayValue
        </a><div class="CaretContainer"><div class="Caret"></div></div>
        <div id="@(Model.ItemsDiv_ID)" class="dropdown-menu DroppedDown " aria-labelledby="dropdownMenuLink">
            @for (int i = 0; i < Model.elements.Count(); i++)
            {
                <a href="#" onclick="@Model.GetOnClick(Model.elements[i])">@Model.elements[i].DropDownText</a><br />
            }
        </div>
    </div>
}
