<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")



    @RenderSection("CustomScripts", required: false)
    


</head>
<body>

    <div style="height:40px; display:block;">
        <div class="navbar navbar-default navbar-fixed-top">
            <div style="width:25%; float:Left">
                <img src="~/Content/Images/MVCL-Logo.png" alt="MVLCLogo" style="width:auto; max-height:50px" />
            </div>
            <div class="container" style="width:75%; float:Left">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div id="DynamicDivPopup">

        </div>


        @RenderBody()
        <hr />
       
    </div>
    <div class="footer">
        <footer>
            <p>&copy; @DateTime.Now.Year - MVLC</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/customJQuery")
</body>
</html>
