@model MVLC.WEB.ViewModels.ParticipantsHoursGridCellContent
@{ 
    string idText = "_" + Model.Row + "_" + Model.Column;
    string changeAttribsRadio = "CommitChange('Radio'," + Model.Row + "," + Model.Column + ",'" + idText + "'," + Model.ParticipantID + ",'" + Model.DateString + "',this.value )";
}

<div class="HoursEntryRadio" id="@("RadioDiv"+ idText)">
    <table id="@("hrsRadioTable"+ idText)" class="HoursEntry HoursEntryRadio" )">
        <tr><td>
    @foreach (string RadioValue in ViewData["RadioButtonValues"] as IList<string>)
            {
        <span class="HoursEntryRadio">
            <input type="radio" name="@("Radio" + idText)" value="@(RadioValue)" onchange="@changeAttribsRadio" @(Model.Hours.ToString() == @RadioValue ? " Checked" : "")>@(RadioValue)
        </span>
    }
</td></tr>
        @*<tr>
            @foreach (string RadioValue in ViewData["RadioButtonValues"] as IList<string>)
            {
                <td>@(RadioValue)</td>
            }
        </tr>*@
    </table>
    <div style="display:none;">
        <input type="radio" name="@("RadioOther" + idText)" value="-1" onchange="@changeAttribsRadio" @(0 > 2.5 ? " Checked" : "")>Other
    </div>
</div>