<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mid-Valley Literacy Center</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("CustomScripts", required: false)
</head>


<body class="MainTheme">

        <div style="height:40px; display:block;">
            <div class="navbar navbar-default navbar-fixed-top">
                <div class="HeaderLogo">
                    <img src="~/Content/Images/MVCL-Logo.png" alt="MVLCLogo" style="width:auto; max-height:50px" />
                </div>
                <div class="container" style="width:55%; float:Left">
                    <div class="navbar-header">
                        
                        @Html.ActionLink("MVLC Learning Tracker", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                </div>
                <div style="width:20%; float:Left">
                    @{Html.RenderAction("ShowEnvironmentInfo", "Base");}
                </div>
            </div>
        </div>
    <div style="clear:both;"></div>

    <div class="MainContent container body-content">
        <div id="DynamicDivPopup"></div>
      

        @RenderBody()
    
        <hr />
       
    </div>
    <div class="footer">
        <footer>
            <p>
                <div class="Small2Column">&copy; @DateTime.Now.Year - MVLC</div>
                     <div class="Big2Column">
                         
                     </div>
                
            </p>
     
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/customJQuery")
</body>
</html>
