@model MVLC.WEB.ViewModels.SessionAttendee
<tr>
    <td class="EntryNameColumn">
        <span class="EntryNameColumn">@Model.Name</span><br />
        <span class="MVLCTable_SmallLabel">Classes Attended</span>
        <span class="MVLCTable_SmallValue">@Model.ClassesAttended</span><br />
        <span class="MVLCTable_SmallLabel">Total Hours</span>
        <span class="MVLCTable_SmallValue">@Model.TotalHours</span><br />
    </td>



    @for (var j = 0; j < Model.Hours.Count() - 1; j++)
    {
        if (j < Model.Hours.Count() - 3)
        {


            <td class="EntryDataColumn HiddenColumn EntryDataColumn@(j + 1)">
                @Html.TextBoxFor(m => m.Hours[j].Hours, new { @class = "HoursEntryInput" })
                <span class="HoursEntryText">@Html.DisplayFor(m => m.Hours[j].Hours)</span>
            </td>
        }
        else
        {
            <td class="EntryDataColumn InactiveColumn EntryDataColumn@(j + 1)">
                @Html.TextBoxFor(m => m.Hours[j].Hours, new { @class = "HoursEntryInput" })
                <span class="HoursEntryText">@Html.DisplayFor(m => m.Hours[j].Hours)</span>
            </td>
        }
    }

    <td class="EntryDataColumn ActiveColumn EntryDataColumn@(Model.Hours.Count())">
        @Html.TextBoxFor(m => m.Hours[Model.Hours.Count() - 1].Hours, new { @class = "HoursEntryInput" })
        <span class="HoursEntryText">@Html.DisplayFor(m => m.Hours[Model.Hours.Count() - 1].Hours)</span>
    </td>

    <td></td>
</tr>