@model MVLC.WEB.Models.MultiSession
@{
    ViewBag.Title = "Update";
}
<a href="#" onclick="SetInitialVisibleState()">ClickMe</a>
<div class="HoursEntry">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Total Hours</th>
                <th># Attended</th>
                @for (var j = 0; j < Model.SessionDates.Count(); j++)
            {



                    <th class="Session@(j+1) HoursEntry">

                        @Model.SessionDates[j]
                    </th>
            }





                <th>Action</th>
            </tr>
        </thead>

        <tbody>





            @for (var i = 0; i < Model.Students.Count(); i++)
        {

                <tr>
                    <td>@Model.Students[i].Name</td>
                    <td></td>
                    <td></td>
                    @for (var j = 0; j < Model.Students[i].Hours.Count(); j++)
                {
                        <td class="Session@(j+1) HoursEntry">

                            @Html.TextBoxFor(m => m.Students[i].Hours[j].Hours, new { @class = "SessionEntry" + (j+1).ToString() })
                            <span class="SessionText@(j+1)" style="display:none">@Html.DisplayFor(m => m.Students[i].Hours[j].Hours)</span>


                        </td>
                }
                    <td></td>
                </tr>
        }
        </tbody>
    </table>
</div>
<h2>Update</h2>




@section CustomScripts
   {

    <script src="@Url.Content("~/Scripts/MultiSession.js")" type="text/javascript"></script>
}